$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

body {
	padding: 0;
}

.top-buffer { margin-top: 30px; }

/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
	padding-left: 15px;
	padding-right: 15px;
}


/* Custom page header */

.header {
	margin-bottom: 10px;
	/* Make the masthead heading the same height as the navigation */
	h3 {
		margin-top: 0;
		margin-bottom: 0;
		line-height: 40px;
		padding-bottom: 19px;
	}
}


/* Custom page footer */

.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
	margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}


/* Supporting marketing content */

.marketing {
	margin: 40px 0;
	p + h4 {
		margin-top: 28px;
	}
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
	.container {
		max-width: 730px;
	}
	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
		padding-left: 0;
		padding-right: 0;
	}
	/* Space out the masthead */
	.header {
		margin-bottom: 30px;
	}
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}
}

@import "partials/_spinner.scss";

.weapon:hover {
	cursor: pointer;
	font-weight: bold;
}
.weapon-buffer { margin-top: 20px; }