<div class="jumbotron">
	<h1>
		<span class="glyphicon glyphicon-console"></span>
		CPU&nbsp;&nbsp;<span class="text-danger">vs</span>&nbsp;&nbsp;
		<span class="glyphicon glyphicon-console"></span>
		CPU
	</h1>	
</div>

<div class="marketing">
	<div class="row" ng-hide="cpuVsCpuCtrl.computer1Selection.length">
		<div class="col-md-9">
			<h2 class="h3">This is a CPU v CPU game. Please click on the button to commence.</h2>
		</div>
		<div class="col-md-3">
			<button type="button" class="btn btn-primary btn-lg top-buffer" ng-click="cpuVsCpuCtrl.commenceCPUGame()">Start game</button>
		</div>
	</div>

	<div class="row" ng-show="cpuVsCpuCtrl.computer1Selection.length">
		<div class="col-md-7">
			<div class="row">
				<div class="col-md-2">
					<!-- user image -->
					<img class="weapon-buffer" ng-show="cpuVsCpuCtrl.computer1Selection === 'Rock'" src="images/60 Rock.png" alt="Rock" height="60" width="60" />
					<img class="weapon-buffer" ng-show="cpuVsCpuCtrl.computer1Selection === 'Paper'" src="images/60 Paper.png" alt="Paper" height="60" width="60" />
					<img class="weapon-buffer" ng-show="cpuVsCpuCtrl.computer1Selection === 'Scissors'" src="images/60 Scissors.png" alt="Scissors" height="60" width="60" />		
				</div>
				<div class="col-md-10">
					<h3>Computer 1 has selected</h3>
					<p class="h4 text-muted">{{ cpuVsCpuCtrl.computer1Selection }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<!-- cpu image -->
					<img class="weapon-buffer" ng-show="cpuVsCpuCtrl.computer2Selection === 'Rock'" src="images/60 Rock.png" alt="Rock" height="60" width="60" />
					<img class="weapon-buffer" ng-show="cpuVsCpuCtrl.computer2Selection === 'Paper'" src="images/60 Paper.png" alt="Paper" height="60" width="60" />
					<img class="weapon-buffer" ng-show="cpuVsCpuCtrl.computer2Selection === 'Scissors'" src="images/60 Scissors.png" alt="Scissors" height="60" width="60" />		
				</div>
				<div class="col-md-10">
					<h3 ng-show="!cpuVsCpuCtrl.computer2Selection.length">
						<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
						Computer 2 is choosing
					</h3>
					<h3 ng-show="cpuVsCpuCtrl.computer2Selection.length">Computer has selected</h3>

					<p class="h4 text-muted">{{ cpuVsCpuCtrl.computer2Selection }}</p>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<h3 ng-show="!cpuVsCpuCtrl.gameOutCome.length">
				<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>			
				Game in progress
			</h3>		
			<h3 ng-show="cpuVsCpuCtrl.gameOutCome.length">Game outcome</h3>

			<p class="h4 text-muted">{{ cpuVsCpuCtrl.gameOutCome }}</p>

			<button type="button" class="btn btn-primary top-buffer btn-lg" ng-click="cpuVsCpuCtrl.restartGame()"  ng-disabled="!cpuVsCpuCtrl.gameOutCome.length">Restart game</button>
		</div>
	</div>	
</div>