<div class="jumbotron">
	<h1>Rock Paper Scissors</h1>
	<p class="lead">
		<img src="images/diagram.png" alt="Rock Paper Scissors diagram" />
		<br> A browser based game developed by <a href="http://www.creativedevelopments.net" target="_blank">Omar Mirza</a>.
	</p>
</div>
<div class="row marketing">
	<h2 class="h3">Instructions</h2>
	<p class="h4 text-muted">To play simply choose a <strong><a ui-sref="userVsCpu">User vs CPU</a></strong> or <strong><a ui-sref="cpuVsCpu">CPU vs CPU</a></strong> game.</p>

	<h2 class="h3">Technologies used</h2>
	<p class="h4 text-muted">Yeoman, Angular, Bootstrap, SASS and of course <strong class="text-danger">javascript</strong>!</p>
</div>