<div class="jumbotron">
	<h1>
		<span class="glyphicon glyphicon-user"></span>
		user&nbsp;&nbsp;<span class="text-danger">vs</span>&nbsp;&nbsp;
		<span class="glyphicon glyphicon-console"></span>
		CPU
	</h1>
</div>

<div class="row marketing">
	<h2 class="h3" ng-hide="userVsCpuCtrl.userSelection.length">Please make a selection from the choices below.</h2>

	<div class="top-buffer" ng-hide="userVsCpuCtrl.userSelection.length">
		<div class="row">
			<div ng-click="userVsCpuCtrl.enterUserSelection('Rock')" class="weapon col-md-4">
				<img src="images/60 Rock.png" alt="Rock" height="60" width="60" />
				Rock
			</div>
			<div ng-click="userVsCpuCtrl.enterUserSelection('Paper')" class="weapon col-md-4">
				<img src="images/60 Paper.png" alt="Paper" height="60" width="60" />
				Paper
			</div>
			<div ng-click="userVsCpuCtrl.enterUserSelection('Scissors')" class="weapon col-md-4">
				<img src="images/60 Scissors.png" alt="Scissors" height="60" width="60" />
				Scissors
			</div>
		</div>
	</div>

	<div class="row" ng-show="userVsCpuCtrl.userSelection.length">
		<div class="col-md-7">
			<div class="row">
				<div class="col-md-2">
					<!-- user image -->
					<img class="weapon-buffer" ng-show="userVsCpuCtrl.userSelection === 'Rock'" src="images/60 Rock.png" alt="Rock" height="60" width="60" />
					<img class="weapon-buffer" ng-show="userVsCpuCtrl.userSelection === 'Paper'" src="images/60 Paper.png" alt="Paper" height="60" width="60" />
					<img class="weapon-buffer" ng-show="userVsCpuCtrl.userSelection === 'Scissors'" src="images/60 Scissors.png" alt="Scissors" height="60" width="60" />		
				</div>
				<div class="col-md-10">
					<h3>You have selected</h3>
					<p class="h4 text-muted">{{ userVsCpuCtrl.userSelection }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<!-- cpu image -->
					<img class="weapon-buffer" ng-show="userVsCpuCtrl.computerSelection === 'Rock'" src="images/60 Rock.png" alt="Rock" height="60" width="60" />
					<img class="weapon-buffer" ng-show="userVsCpuCtrl.computerSelection === 'Paper'" src="images/60 Paper.png" alt="Paper" height="60" width="60" />
					<img class="weapon-buffer" ng-show="userVsCpuCtrl.computerSelection === 'Scissors'" src="images/60 Scissors.png" alt="Scissors" height="60" width="60" />		
				</div>
				<div class="col-md-10">
					<h3 ng-show="!userVsCpuCtrl.computerSelection.length">
						<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
						Computer is choosing
					</h3>
					<h3 ng-show="userVsCpuCtrl.computerSelection.length">Computer has selected</h3>

					<p class="h4 text-muted">{{ userVsCpuCtrl.computerSelection }}</p>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<h3 ng-show="!userVsCpuCtrl.gameOutCome.length">
				<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>			
				Game in progress
			</h3>
			<h3 ng-show="userVsCpuCtrl.gameOutCome.length">Game outcome</h3>			

			<p class="h4 text-muted">{{ userVsCpuCtrl.gameOutCome }}</p>

			<button type="button" class="btn btn-primary top-buffer btn-lg" ng-click="userVsCpuCtrl.restartGame()" ng-disabled="!userVsCpuCtrl.gameOutCome.length">Restart game</button>
		</div>
	</div>
</div>